.search-container{
    padding:90px 40px;
    background:#111;
    min-height:100vh;
}

.search-title{
    color:#fff;
    margin-bottom:25px;
}

.search-results{
    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(150px,1fr));

    gap:18px;
}

.search-card{

    position:relative;

    overflow:hidden;

    border-radius:10px;

    transition:.3s;

}

.search-card img{

    width:100%;

    height:225px;

    object-fit:cover;

    display:block;

    border-radius:10px;

}

.search-card:hover{

    transform:scale(1.08);

}

.search-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        transparent,
        rgba(0,0,0,.95)
    );

    display:flex;

    flex-direction:column;

    justify-content:flex-end;

    padding:10px;

    opacity:0;

    transition:.3s;

}

.search-card:hover .search-overlay{

    opacity:1;

}

.search-overlay h4{

    color:#fff;

    font-size:14px;

    margin-bottom:5px;

}

.search-overlay p{

    color:#FFD700;

    font-size:13px;

}